.download-link{
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}


.button {
    display: block;
    width: 8em;
    height: 1.2em;
    background: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}